name: test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl:
          [
            "5.42",
            "5.40"
          ]
    name: Perl ${{ matrix.perl }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1.37.0
        with:
          perl-version: ${{ matrix.perl }}
      - name: Install dependencies
        run: cpanm --installdeps .
      - name: Run test
        run: cpanm --test-only -v .

